.functionBarContainer {
  position: absolute;
  height: 25px;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 55;
}
.functionBar {
  height: 100%;
  background-color: var(--bgColorLight);
  box-shadow: var(--boxShadow);
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  display: flex;
  justify-content: center;
  transition: top 0.2s;
  overflow-y: hidden;
}
.switchFunctionBar {
  position: absolute;
  height: 12px;
  width: 30px;
  bottom: -13px;
  background-color: var(--bgColorLight);
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  cursor: pointer;
  box-shadow: var(--boxShadow);
  overflow-y: hidden;
}
