.FButton {
  height: 100%;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: transparent;
  transition: background-color 0.1s;
  z-index: 55;
}
.FButton:hover {
  background-color: var(--selectedButton);
}
.FButtonIcons {
  height: 75%;
  width: 75%;
}
